<footer>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <div class="column info">
      <div class="logo"><span>OUR</span>BCA</div>
      <p>Our BCA is a comprehensive website  that provides BCA students with resources like notes, syllabu, question banks, practical files — all in one place.</p>
     
    </div>

</div>

    <div class="column links-column">
      <div class="section-title">Links</div>
      <ul>
        <li><a href="{% url 'about_us' %}">About Us</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms and Conditions</a></li>
      </ul>
    </div>
  <div class="column">
      <div class="section-title">Follow Us:

      </div>
      <div class="footer-container">

      <div class="social-icons" style=" color: white;margin: 0 10px;font-size: 30px;text-decoration: none;transition: color 0.3s;
      ">
        <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/" target="_blank" style="color: rgb(57, 143, 213);"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com/" target="_blank" style="color: rgb(189, 54, 189);"><i class="fab fa-instagram"></i></a>
        <a href="https://youtube.com/" target="_blank" style="color: red;"><i class="fab fa-youtube"></i></a>
      </div>

    </div>
      <div class="selection-title" style="margin-top: 15px;">Contact Us:</div>
      <a href="mailto:infoourbca@gmail.com " style="text-decoration: underlined; font-size: 17px;color: rgb(7, 78, 78);">&#9993 infoourbca@gmail.com</a><br>

      <a href="tel:+977 9865460531" style="text-decoration: none; font-size: 17px;color: rgb(7, 78, 78);">&#128222 +977 9865460531</a>
    </div>
</footer>
<footer class="footer">
    <p class="footer1" style="margin: 0 auto; text-align: center; width: 100%;">&copy; 2025 BCA Website. All rights reserved.</p>
</footer>
